<div class="left_container" id="left_container">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="top_menu">
        <ul>
            <li>
                <a href="/CRM/BookingList">
                    <figure><i class="bi bi-bookmarks-fill"></i></figure>
                    <h4> Booking List</h4>
                </a>
            </li>
            <li>
                <a href="/CRM/NewEnquiry">
                    <figure><i class="bi bi-stickies-fill"></i></figure>
                    <h4>New Enquiry</h4>
                </a>
            </li>
            <li>
                <a href="/CRM/CallingList">
                    <figure><i class="bi bi-telephone-fill"></i></figure>
                    <h4>Calling List</h4>
                </a>
            </li>
            
            <li>
                <a href="/CRM/EnquiryList">
                    <figure><i class="bi bi-telephone-plus-fill"></i></figure>
                    <h4>Enquiry List</h4>
                </a>
            </li>
        </ul>
    </div>
</div>