<div class="left_container" id="left_container">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="top_menu">
        <ul>
            <li>
                <a href="/Master/Masters">
                    <figure><i class="bi bi-house-fill"></i></figure>
                    <h4>Master</h4>
                </a>
            </li>
            <li>
                <a href="/ScheduleMaster/ScheduleMasterList">
                    <figure><i class="bi bi-speedometer"></i></figure>
                    <h4>Schedule Master</h4>
                </a>
            </li>
            <li>
                <a href="/TaskMaster/TaskMasterList">
                    <figure><i class="bi bi-speedometer"></i></figure>
                    <h4>Task Master</h4>
                </a>
            </li>
            <li>
                <a href="/ResourceMaster/ResourceMasterList">
                    <figure><i class="bi bi-speedometer"></i></figure>
                    <h4>Resource Master</h4>
                </a>
            </li>
            <li>
                <a href="/AmenetiesCategory/List">
                    <figure><i class="bi bi-check-circle-fill"></i></figure>
                    <h4>Ameneties Category</h4>
                </a>
            </li>
            <li>
                <a href="/CheckList/CheckInList">
                    <figure><i class="bi bi-check-circle-fill"></i></figure>
                    <h4>Checkin Checklist</h4>
                </a>
            </li>
            <li>
                <a href="/CheckList/CheckOutList">
                    <figure><i class="bi bi-check-circle-fill"></i></figure>
                    <h4>Checkout Checklist</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-speedometer"></i></figure>
                    <h4>Primary</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-grid-fill"></i></figure>
                    <h4>Category</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-plus-square-fill"></i></figure>
                    <h4>Sub Category</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-grid-fill"></i></figure>
                    <h4>Category</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-grid-fill"></i></figure>
                    <h4>Room Type</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-map-fill"></i></figure>
                    <h4>Source Mapping</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-clock-fill"></i></figure>
                    <h4>Schedule Upload</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-people-fill"></i></figure>
                    <h4>Role</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-ban-fill"></i></figure>
                    <h4>No Intrested</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-file-earmark-code-fill"></i></figure>
                    <h4>Channel Code</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-file-earmark-code-fill"></i></figure>
                    <h4>Guarantee Code</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-microsoft"></i></figure>
                    <h4>Brand Awarenes</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-truck-front-fill"></i></figure>
                    <h4>Car Type</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-credit-card-2-front-fill"></i></figure>
                    <h4>Payment Status Type</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-person-circle"></i></figure>
                    <h4>Guest Check In/ Out</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-check-circle-fill"></i></figure>
                    <h4>Room CheckList</h4>
                </a>
            </li>
            
        </ul>
    </div>


</div>