@using GMS.Infrastructure.Models.RoleMenuMapping
@using Newtonsoft.Json
<button class="hamburger">☰</button>
<div class="left_container" id="left_container">
    <div class="brand_logo"><img src="~/img/logo.png" /></div>
    <div class="top_menu">

        <ul>
            @{
                if (User.IsInRole("General Management") || User.IsInRole("Admin"))
                {
                    <li>
                        <a href="/AmenetiesCategory/List">
                            <figure><i class="bi bi-check-circle-fill"></i></figure>
                            <h4>Amenities Category</h4>
                        </a>
                    </li>
                    <li>
                        <a href="/CheckList/CheckInList">
                            <figure><i class="bi bi-check-circle-fill"></i></figure>
                            <h4>Checkin Checklist</h4>
                        </a>
                    </li>
                    <li>
                        <a href="/CheckList/CheckOutList">
                            <figure><i class="bi bi-check-circle-fill"></i></figure>
                            <h4>Checkout Checklist</h4>
                        </a>
                    </li>
                    <li>
                        <a href="/CheckList/RoomCleaningCheckList">
                            <figure><i class="bi bi-check-circle-fill"></i></figure>
                            <h4>Room Checklist</h4>
                        </a>
                    </li>
                    <li>
                        <a href="/PaymentMethodMaster/List">
                            <figure><i class="bi bi-check-circle-fill"></i></figure>
                            <h4>Payment Method</h4>
                        </a>
                    </li>
                    <li>
                        <a href="/FeedbackAttributesMaster/List">
                            <figure><i class="bi bi-check-circle-fill"></i></figure>
                            <h4>Feedback Attributes</h4>
                        </a>
                    </li>
                }
                else
                {
                    var strMenuList = Context.Session.GetString("MenuList");
                    if (!String.IsNullOrEmpty(strMenuList))
                    {
                        var menuList = JsonConvert.DeserializeObject<List<MenuListDTO>>(strMenuList);
                        var menuListFilteredParent = menuList?.Where(x => x.MenuParentId == 4).ToList().OrderBy(x => x.SNo);
                        foreach (var menu in menuListFilteredParent)
                        {
                            <li>
                                <a href="@menu.MenuLink">
                                    @Html.Raw(menu.MenuIcon)
                                    <h4>@menu.MenuName</h4>
                                </a>
                            </li>
                        }
                    }
                }

            }

        </ul>
    </div>


</div>