@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, GMSCore
@model GMS.Infrastructure.ViewModels.Rooms.AmenitiesViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Ameneties";
}

<div class="admin_wrapper">
    @Html.Partial("_rooms/_leftNavigationRooms")

    <!-- Modal -->

    <input type="button" id="btnOpenAddAmenitiesPopup" style="display:none" data-bs-toggle="modal" data-bs-target="#addAmenitiesPopup" />
    <div id="div_AddPartial">
        @* @Html.Partial("_roomTypeList/_add") *@
    </div>

    <!-- Modal -->



    <div class="right_container">


        <!-- filtered rooms Start-->
        <div class="filtered_rooms_container">
            <div class="therapiesList_table_list">
                <div class="title_area">
                    <h2>Room Amenities</h2>
                    <div class="btn_add">
                        <a href="#" class="addNew_btn" onclick="AddPartialView(0)">Add New</a>
                    </div>
                </div>

                <div id="div_ListPartial">
                    @* @Html.Partial("_roomTypeList/_list") *@
                </div>

            </div>
        </div>
        <!-- filtered rooms end-->



    </div>
    @Html.Partial("_bottomNavigation1")
</div>

@section Scripts {
    <script src="~/customjs/Rooms/Amenities.js"></script>

    <script>
        $(document).ready(function () {
            var owl = $('.premium_rooms_slider');
            owl.owlCarousel({
                margin: 10,

                responsive: {
                    0: {
                        items: 2,
                        nav: true,
                        loop: false
                    },
                    600: {
                        items: 4,
                        nav: true,
                        loop: false
                    },
                    768: {
                        items: 4,
                        nav: true,
                        loop: false

                    },
                    1024: {
                        items: 4,
                        nav: true,
                        loop: false
                    },
                    1266: {
                        items: 6,
                        nav: true,
                        loop: false
                    }
                }/*,
                                                                                                                                                                                                                                                                                                                                                                                                onInitialized : function(){
                                                                                                                                                                                                                                                                                                                                                                                            if($('.owl-item').first().hasClass('active'))
                                                                                                                                                                                                                                                                                                                                                                                              $('.owl-prev').hide();
                                                                                                                                                                                                                                                                                                                                                                                            else
                                                                                                                                                                                                                                                                                                                                                                                              $('.owl-prev').show();
                                                                                                                                                                                                                                                                                                                                                                                          } */
            })


            //initDates();
        })

        var owl = $('.basic_rooms_slider');
        owl.owlCarousel({
            margin: 10,

            responsive: {
                0: {
                    items: 2,
                    nav: true,
                    loop: false
                },
                600: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                768: {
                    items: 4,
                    nav: true,
                    loop: false

                },
                1024: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                1266: {
                    items: 6,
                    nav: true,
                    loop: false
                }
            }
        })
        var owl = $('.short_reservation_slider');
        owl.owlCarousel({
            margin: 10,

            responsive: {
                0: {
                    items: 2,
                    nav: true,
                    loop: false
                },
                600: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                768: {
                    items: 4,
                    nav: true,
                    loop: false

                },
                1024: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                1266: {
                    items: 6,
                    nav: true,
                    loop: false
                }
            }
        })
        var owl = $('.empty_room_slider');
        owl.owlCarousel({
            margin: 10,

            responsive: {
                0: {
                    items: 2,
                    nav: true,
                    loop: false
                },
                600: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                768: {
                    items: 4,
                    nav: true,
                    loop: false

                },
                1024: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                1266: {
                    items: 6,
                    nav: true,
                    loop: false
                }
            }
        })








    </script>
}