@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Enquiry List";
}




<div class="admin_wrapper">

    @Html.Partial("_crm/_leftNavigationCRM")


    
    @Html.Partial("_bottomNavigation1")
</div>


