.blockUI.blockMsg.blockPage {
    border: none !important;
    background-color: transparent !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    z-index: 1060 !important;
}

.blockOverlay {
    z-index: 1059 !important;
}

.preloader {
    border: none !important;
    background-color: transparent !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.75rem;
    
    gap: 0.75rem;
}

.preloader img {
    width: 64px;
    height: 64px;
}

/* FullCalendar Popover Close Button Fix */
.fc-popover {
    z-index: 999999 !important;   /* keep popup above all elements */
}

.fc-popover-close {
    cursor: pointer !important;
    pointer-events: auto !important;
    z-index: 1000000 !important;
}