@using GMS.Infrastructure.Models.RoleMenuMapping
@using Newtonsoft.Json
<button class="hamburger">☰</button>
<div class="left_container" id="left_container">
    <div class="brand_logo"><img src="~/img/logo.png" /></div>
    <div class="top_menu">
        <ul>
            @* <li>
                <a href="/Home/SendFeedback">
                    <figure><i class="bi bi-clipboard-data-fill"></i></figure>
                    <h4>Send Feedback</h4>
                </a>
            </li>
            <li>
                <a href="/Home/ReviewFeedback">
                    <figure><i class="bi bi-chat-left-text-fill"></i></figure>
                    <h4>Review Feedback</h4>
                </a>
            </li> *@
            @{
                var strMenuList = Context.Session.GetString("MenuList");
                if (!String.IsNullOrEmpty(strMenuList))
                {
                    var menuList = JsonConvert.DeserializeObject<List<MenuListDTO>>(strMenuList);
                    var menuListFilteredParent = menuList?.Where(x => x.MenuParentId == 3).ToList().OrderBy(x => x.SNo);
                    foreach (var menu in menuListFilteredParent)
                    {
                        <li>
                            <a href="@menu.MenuLink">
                                @Html.Raw(menu.MenuIcon)
                                <h4>@menu.MenuName</h4>
                            </a>
                        </li>
                    }
                }
            }

        </ul>
    </div>

</div>