<div class="left_container" id="left_container">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="top_menu">
        <ul>
            <li>
                <a href="/Home/SendFeedback">
                    <figure><i class="bi bi-clipboard-data-fill"></i></figure>
                    <h4>Send Feedback</h4>
                </a>
            </li>
            <li>
                <a href="/Home/ReviewFeedback">
                    <figure><i class="bi bi-chat-left-text-fill"></i></figure>
                    <h4>Review Feedback</h4>
                </a>
            </li>

        </ul>
    </div>

</div>