@using GMS.Infrastructure.Models.RoleMenuMapping
@using Newtonsoft.Json
<button class="hamburger">☰</button>
<div class="left_container" id="left_container">
    <div class="brand_logo"><img src="~/img/logo.png" /></div>
    <div class="top_menu">
        <ul>
            <li>
                <a href="/Review/ReviewList">
                    <figure><i class="bi bi-clipboard-check"></i></figure>
                    <h4>Review List</h4>
                </a>
            </li>
        </ul>
    </div>
</div>

