.metric-card {
  padding: 1rem 1.25rem;
  /*display: flex;*/
  flex-direction: column;
  gap: 0.75rem;
  height: 100%;
  justify-content: space-between;
}

.metric-card h4,
.metric-card h5,
.metric-card p {
  margin-bottom: 0;
}

.metric-card__value {
    font-size: clamp(1.25rem, 3vw, 1.75rem);
    line-height: normal;
    margin: 0;
    white-space: normal;
    text-wrap: balance;
    display: block;
    color: #14b98f;
}
