@model GMS.Infrastructure.ViewModels.Masters.ResourceMasterViewModel
<div class="modal fade" id="addResourceMasterPopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Schedule</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="general_form" id="AddResource">
                    <input type="hidden" name="Id" value="@Model?.ResourceMaster?.Id" dbCol />
                    <div class="mb-3 form-group">
                        <label class="form-label required">Resource</label>
                        <input type="text" class="form-control requiredInput" name="ResourceName" dbCol value="@Model?.ResourceMaster?.ResourceName">
                    </div>
                    <div class="row">
                        <div class="mb-3 form-group">
                            <label class="form-label required">Department</label>
                            <select type="text" class="form-control" name="DepartmentId" id="Department" dbCol>
                                <option>Select Role</option>
                                @{
                                    if (Model != null && Model.Roles != null)
                                    {
                                        foreach (var item in Model.Roles)
                                        {
                                            if (Model != null && Model.ResourceMaster != null && Model.ResourceMaster.DepartmentId == item.Id)
                                            {
                                                <option value="@item.Id" selected>@item.Role</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.Role</option>
                                            }

                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="AddResource()">Add Resource</button>
            </div>
        </div>
    </div>
</div>