<button class="hamburger">☰</button>
<div class="left_container" id="left_container">    
    <div class="brand_logo"><img src="~/img/logo.png" /></div>
    
    <div class="top_menu">
        <ul>
            <li onclick="AddGuestsPartialView()">
                <a href="javascript:void(0)">
                    <figure><i class="bi bi-plus-circle-fill"></i></figure>
                    <h4>Add Guest</h4>
                </a>
            </li>
            <li>
                <a href="/Guests/GuestsList">
                    <figure><i class="bi bi-house-fill"></i></figure>
                    <h4>Guest List</h4>
                </a>
            </li>            
            <li>
                <a href="#">
                    <figure><i class="bi bi-cloud-download-fill"></i></figure>
                    <h4>Export CSV</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><i class="bi bi-cloud-download-fill"></i></figure>
                    <h4>Export Excel</h4>
                </a>
            </li>
            
        </ul>
    </div>
</div>