@model GMS.Infrastructure.ViewModels.Rooms.AmenitiesViewModel
<div class="resposive_table">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Category</th>                
                <th scope="col">Name</th>                
                <th scope="col" width="300">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null && Model.Amenitiess != null)
                {
                    foreach (var item in Model.Amenitiess)
                    {
                        <tr>
                            <td scope="row">@item.AmenityCategory</td>                            
                            <td scope="row">@item.AmenityName</td>                            
                            <td>
                                <div class="actions_btns">
                                    @{
                                        <a href="#" class="trash" onclick="DeleteList(@item.Id)"><i class="bi bi-trash-fill"></i></a>
                                        <a href="#" onclick="AddPartialView(@item.Id)" class="pencil ms-2"><i class="bi bi-pencil-fill"></i></a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>