<div class="bottom_menu_right">

    <ul class="menu_bottom">
        <li><div class="btn-group dropup"><a class="btn btn-secondary" href="/Home/Index"><span><i class="bi bi-house-fill"></i></span><p>Home</p></a></div></li>
        <li><div class="btn-group dropup"><a class="btn btn-secondary" href="/Master/Masters"><span><i class="bi bi-grid-fill"></i></span><p>Master</p></a></div></li>
        <li><div class="btn-group dropup"><a class="btn btn-secondary" href="/CRM/BookingList"><span><i class="bi bi-gear-fill"></i></span><p>CRM</p></a></div></li>
        <li><div class="btn-group dropup"><a class="btn btn-secondary" href="/Guests/GuestsList"><span><i class="bi bi-person-badge-fill"></i></span><p>Guest</p></a></div></li>
        <li><div class="btn-group dropup"><a class="btn btn-secondary" href="/Rooms/RoomsDetails"><span><i class="bi bi-building-fill"></i></span><p>Rooms</p></a></div></li>
        <li><div class="btn-group dropup"><a class="btn btn-secondary" href="/Services/Services"><span><i class="bi bi-collection-fill"></i></span><p>Services</p></a></div></li>
        <li><div class="btn-group dropup"><a class="btn btn-secondary" href="/Reports/SummaryReport"><span><i class="bi bi-stickies-fill"></i></span><p>Reports</p></a></div></li>
        <li><div class="btn-group dropup"><a class="btn btn-secondary" href="/Home/SendFeedback"><span><i class="bi bi-plus-square-fill"></i></span><p>Feedback</p></a></div></li>
        <li><div class="btn-group dropup"><a class="btn btn-secondary" href="/Home/Contact"><span><i class="bi bi-person-lines-fill"></i></span><p>Contact</p></a></div></li>
        <li><div class="btn-group dropup"><a class="btn btn-secondary" href="/Account/Logout"><span><i class="bi bi-box-arrow-right"></i></i></span><p>Logout</p></a></div></li>
    </ul>

</div>