<div class="left_container" id="left_container">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="top_menu">
        <ul>
            <li>
                <a href="/Rooms/RoomsDetails">
                    <figure><i class="bi bi-hospital-fill"></i></figure>
                    <h4>Room(s) details</h4>
                </a>
            </li>
            <li>
                <a href="/Rooms/RoomLocking">
                    <figure><i class="bi bi-pencil-fill"></i></figure>
                    <h4>Room Review</h4>
                </a>
            </li>
            <li>
                <a href="/Rooms/TodayBooking">
                    <figure><i class="bi bi-calendar-fill"></i></figure>
                    <h4>Today Booking</h4>
                </a>
            </li>
            @* <li>
                <a href="/Rooms/BookingList">
                    <figure><i class="bi bi-grid-fill"></i></figure>
                    <h4>Booking List</h4>
                </a>
            </li> *@
            <li>
                <a href="/Rooms/RoomsAvailabality">
                    <figure><i class="bi bi-hospital-fill"></i></figure>
                    <h4>Room(s) Availability</h4>
                </a>
            </li>

            <li>
                <a href="/Rooms/RoomStatus">
                    <figure><i class="bi bi-hospital-fill"></i></figure>
                    <h4>Room Status</h4>
                </a>
            </li>
            <li>
                <a href="/RoomType/List">
                    <figure><i class="bi bi-hospital-fill"></i></figure>
                    <h4>Room Type</h4>
                </a>
            </li>
            <li>
                <a href="/Amenities/List">
                    <figure><i class="bi bi-hospital-fill"></i></figure>
                    <h4>Room Amenities</h4>
                </a>
            </li>

        </ul>
    </div>
</div>