@using GMS.Infrastructure.Models.RoleMenuMapping
@using Newtonsoft.Json
<button class="hamburger">☰</button>
<div class="left_container" id="left_container">
    <div class="brand_logo"><img src="~/img/logo.png" /></div>
    <div class="top_menu">
        <ul>

            @{

                if (User.IsInRole("General Management") || User.IsInRole("Admin"))
                {
                    <li>
                        <a href="/Rooms/RoomsDetails">
                            <figure><i class="bi bi-hospital-fill"></i></figure>
                            <h4>Room(s) Cleaning</h4>
                        </a>
                    </li>
                    <li>
                        <a href="/Rooms/RoomsReadyStatusDetails">
                            <figure><i class="bi bi-hospital-fill"></i></figure>
                            <h4>Room(s) Ready Status</h4>
                        </a>
                    </li>
                    <li>
                        <a href="/Rooms/RoomLocking">
                            <figure><i class="bi bi-pencil-fill"></i></figure>
                            <h4>Room Review</h4>
                        </a>
                    </li>
                    @* <li>
                <a href="/Rooms/BookingList">
                    <figure><i class="bi bi-grid-fill"></i></figure>
                    <h4>Booking List</h4>
                </a>
            </li> *@
                    <li>
                        <a href="/Rooms/RoomsAvailabality">
                            <figure><i class="bi bi-hospital-fill"></i></figure>
                            <h4>Room(s) Availability</h4>
                        </a>
                    </li>
                    <li>
                        <a href="/RoomType/List">
                            <figure><i class="bi bi-hospital-fill"></i></figure>
                            <h4>Room Type</h4>
                        </a>
                    </li>
                    <li>
                        <a href="/Amenities/List">
                            <figure><i class="bi bi-hospital-fill"></i></figure>
                            <h4>Room Amenities</h4>
                        </a>
                    </li>
                }
                else
                {
                    var strMenuList = Context.Session.GetString("MenuList");
                    if (!String.IsNullOrEmpty(strMenuList))
                    {
                        var menuList = JsonConvert.DeserializeObject<List<MenuListDTO>>(strMenuList);
                        var menuListFilteredParent = menuList?.Where(x => x.MenuParentId == 5).ToList().OrderBy(x => x.SNo);
                        foreach (var menu in menuListFilteredParent)
                        {
                            <li>
                                <a href="@menu.MenuLink">
                                    @Html.Raw(menu.MenuIcon)
                                    <h4>@menu.MenuName</h4>
                                </a>
                            </li>
                        }
                    }
                }


            }



        </ul>
    </div>
</div>