@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Booking List";
}




<div class="admin_wrapper">

    @Html.Partial("_reports/_leftNavigationReports")

    
    @Html.Partial("_bottomNavigation1")
</div>


