
@{
    ViewData["Title"] = "Review Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin_wrapper">

    @Html.Partial("_feedback/_leftNavigationFeedback")


    @Html.Partial("_bottomNavigation1")
</div>




