<div class="left_container" id="left_container">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="top_menu">
        <ul>
            <li>
                <a href="/Reports/SummaryReport">
                    <figure><i class="bi bi-house-fill"></i></figure>
                    <h4>Summary Report</h4>
                </a>
            </li>
            <li>
                <a href="/Reports/FeedbackSummary">
                    <figure><i class="bi bi-speedometer"></i></figure>
                    <h4>Feedback Summary</h4>
                </a>
            </li>
            <li>
                <a href="/Reports/FeedbackData">
                    <figure><i class="bi bi-grid-fill"></i></figure>
                    <h4>Feedback Data</h4>
                </a>
            </li>
            <li>
                <a href="/Reports/RoomBookingStatus">
                    <figure><i class="bi bi-plus-square-fill"></i></figure>
                    <h4>Room Booking Status</h4>
                </a>
            </li>
        </ul>
    </div>

</div>