@using GMS.Infrastructure.Models.RoleMenuMapping
@using Newtonsoft.Json
<button class="hamburger">☰</button>
<div class="left_container" id="left_container">
    <div class="brand_logo"><img src="~/img/logo.png" /></div>
    <div class="top_menu">
        <ul>
            @{

                if (User.IsInRole("General Management") || User.IsInRole("Admin"))
                {
                    // <li>
                    //     <a href="/Services/Services">
                    //         <figure><i class="bi bi-aspect-ratio-fill"></i></figure>
                    //         <h4>Services</h4>
                    //     </a>
                    // </li>
                    // <li>
                    //     <a href="/Services/Resources">
                    //         <figure><i class="bi bi-back"></i></figure>
                    //         <h4>Resources</h4>
                    //     </a>
                    // </li>

                    <li>
                        <a href="/Rooms/RoomRates">
                            <figure><i class="bi bi-calendar-fill"></i></figure>
                            <h4>Rooms Rate</h4>
                        </a>
                    </li>
                    <li>
                        <a href="/Rooms/BulkRate">
                            <figure><i class="bi bi-cash-coin"></i></figure>
                            <h4>Bulk Rate</h4>
                        </a>
                    </li>

                    <li>
                        <a href="/PackageMaster/List">
                            <figure><i class="bi bi-speedometer"></i></figure>
                            <h4>Rate Plan</h4>
                        </a>
                    </li>
                    <li>
                        <a href="/ScheduleMaster/ScheduleMasterList">
                            <figure><i class="bi bi-speedometer"></i></figure>
                            <h4>Schedule Master</h4>
                        </a>
                    </li>
                    <li>
                        <a href="/TaskMaster/TaskMasterList">
                            <figure><i class="bi bi-speedometer"></i></figure>
                            <h4>Task Master</h4>
                        </a>
                    </li>
                    <li>
                        <a href="/ResourceMaster/ResourceMasterList">
                            <figure><i class="bi bi-speedometer"></i></figure>
                            <h4>Resource Master</h4>
                        </a>
                    </li>
                    <li>
                        <a href="/CategoryMaster/List">
                            <figure><i class="bi bi-speedometer"></i></figure>
                            <h4>Category Master</h4>
                        </a>
                    </li>
                    <li>
                        <a href="/ResourceAllocation/List">
                            <figure><i class="bi bi-person-lines-fill"></i></figure>
                            <h4>Resource Allocation</h4>
                        </a>
                    </li>
                }
                else
                {
                    var strMenuList = Context.Session.GetString("MenuList");
                    if (!String.IsNullOrEmpty(strMenuList))
                    {
                        var menuList = JsonConvert.DeserializeObject<List<MenuListDTO>>(strMenuList);
                        var menuListFilteredParent = menuList?.Where(x => x.MenuParentId == 6).ToList().OrderBy(x => x.SNo);
                        foreach (var menu in menuListFilteredParent)
                        {
                            <li>
                                <a href="@menu.MenuLink">
                                    @Html.Raw(menu.MenuIcon)
                                    <h4>@menu.MenuName</h4>
                                </a>
                            </li>
                        }
                    }
                }


            }

        </ul>
    </div>
</div>