<div class="left_container" id="left_container">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="top_menu">
        <ul>
            <li>
                <a href="/Services/Services">
                    <figure><i class="bi bi-aspect-ratio-fill"></i></figure>
                    <h4>Services</h4>
                </a>
            </li>
            <li>
                <a href="/Services/Resources">
                    <figure><i class="bi bi-back"></i></figure>
                    <h4>Resources</h4>
                </a>
            </li>
        </ul>
    </div>
</div>