@model GMS.Infrastructure.ViewModels.Masters.PackageMastersViewModel
<div class="modal fade" id="addServicesPopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Services</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="general_form" id="AddServices">
                    <input type="hidden" name="Id" value="@Model?.Service?.Id" dbCol />
                    <div class="mb-3 form-group">
                        <label class="form-label required">Services</label>
                        <input type="text" class="form-control requiredInput" name="Service" dbCol value="@Model?.Service?.Service">
                    </div>
                    <div class="mb-3 form-group">
                        <label class="form-label required">MinimumNight</label>
                        <input type="number" class="form-control requiredInput" name="MinimumNight" dbCol value="@Model?.Service?.MinimumNight">
                    </div>
                    <div class="mb-3 form-group">
                        <label class="form-label required">MaximumNight</label>
                        <input type="number" class="form-control requiredInput" name="MaximumNight" dbCol value="@Model?.Service?.MaximumNight">
                    </div>
                    <div class="mb-3 form-group">
                        <label class="form-label required">Price (Per Night)</label>
                        <input type="number" class="form-control requiredInput" name="Price" dbCol value="@Model?.Service?.Price">
                    </div>
                    <div class="mb-3 form-group">
                        <label class="form-label required">Description</label>
                        <textarea class="form-control requiredInput" name="Description" dbCol>@Model?.Service?.Description</textarea>
                        @* <input type="number" class="form-control requiredInput" name="Description" dbCol value="@Model?.Service?.Description"> *@
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="AddServices()">Add Services</button>
            </div>
        </div>
    </div>
</div>