
<style>
    .designby {
        position: relative;
        width: 100%;
        float: left;
        margin: 80px auto 40px auto;
        text-align: center;
        color: #333;
        font-size: 18px;
    }

    a {
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }

    * {
        box-sizing: border-box;
    }

    .parent-logo {
        display: block;
    }

    span {
        font-size: 12px;
    }

    .parent-logo img {
        margin-top: 10px;
        width: 160px;
    }
</style>

    <div class="designby">© A Product of <a href="https://www.08consultings.com/" target="_blank"><span class="parent-logo"> <img src="/assets/img/08-consultings.svg"> </span></a></div>
