@using GMS.Infrastructure.Models.Masters
@{
    var operations = ViewBag.Operations as OperationsDTO;
    var logoPath = !string.IsNullOrWhiteSpace(operations?.LogoFilePath) ? operations.LogoFilePath : "~/assets/feedback/icons/logo_123.png";
}
<div class="header">
    <img src="@Url.Content(logoPath)" alt="Logo" class="logo">
</div>